source https://www.myget.org/F/elasticsearch-net/api/v3/index.json
source https://www.nuget.org/api/v2/
framework >= net45

nuget NEST ~> 2.0.0
nuget NFluent 1.3.1.0
nuget xunit 2.0.0
nuget xunit.runner.visualstudio version_in_path: true