source https://www.myget.org/F/elasticsearch-net/api/v3/index.json
source http://teamcity.wineur.itgeurope.com/guestAuth/app/nuget/v1/FeedService.svc/
source https://www.nuget.org/api/v2/
framework >= net45

nuget Elasticsearch.Net 1.5.0
nuget FSharp.Core 4.0.0.1
nuget NEST 1.5.0
nuget Newtonsoft.Json 6.0.1
nuget NFluent 1.3.1.0
nuget xunit 2.0.0
nuget xunit.abstractions 2.0.0
nuget xunit.assert 2.0.0
nuget xunit.core 2.0.0
nuget xunit.extensibility.core 2.0.0
nuget xunit.runner.visualstudio version_in_path: true